*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/* Global Variables */
:root{
  --base-text-clr:black;
  --background-Header:white;
  --background:white;
  --backgroundArea:rgb(94, 94, 94);



  /* box showdow color */
  --showdow-box:0 2px 24px 0 rgb(0 0 0 / 15%);
}   


/* darkMode Theme */
.darkmode{
  --base-text-clr:white;
  --background-Header:#1b242e;
  --background:#1b242e;
  --backgroundArea:#151c24;



  /* box showdow color*/
  --showdow-box:0 2px 24px 0 rgba(40, 40, 53, 0.15);
}




.ThemeIcons{
  margin-left: 1.0em;
  cursor: pointer;
}


/* Icon */
/* Light Theme Icon (sun) */
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
/* $$ */


.ThemeIcons :hover{
  transition: all 1s ease-in-out 0s;
  transform: rotate(230deg);
}


/* Moon Icon */
.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs,1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent
}
.gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px
}


.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #151c24 !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

.Headers{
  width: 100%;
  height: 7vh;
  background: var(--background-Header);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30em;
}
.HeadersText{
  color: var(--base-text-clr);
  font-size: 0.9em;
  display: flex;
}
.HeadersText2{
  color: var(--base-text-clr);
  font-size: 0.9em;
  display: flex;
  gap: 10px;

}


.HomePage{
  background:var(--background);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.HomePageContainer{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.HomePageContainer{
  display: flex;
  justify-content: left;
}

#HeadingText{
  color: var(--base-text-clr);
  font-size: 1.5rem;
  margin-top: 2rem;
}
.HeadersText h4{
  font-weight: 100;

}
#HeadingText2{
  color: #ff0083;
  font-size: 2.7rem;
  margin-top: -1rem;
  font-weight:400;

}
.TextAreaContainer{
  margin-top: 4rem;
  width: 100%;
  height: 27vh;
  background  : var(--backgroundArea);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.TextAreaTexts{
  display: flex;
  color: var(--base-text-clr);
  gap: 20px;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 0.9rem;
}

.TextAreaBox{
  width: 90%;
  height: 13vh;
  margin-left: 2rem;
  border-radius: 5px;
  background: var(--background-Header);
  margin-top: -3em;
  color: white;
  padding: 1rem;
}
.FistText{
  color: #ff0083;
}


.TextAreaBTN {
  display: flex;
  justify-content: right;
  margin-right: 2.5rem;
  margin-top: -2em;

  
}
.TextAreaBTN button{
 padding: 0.9rem 1rem;
 margin-top: -1.5em;
 background: #ff0083;
 color: var(--base-text-clr);
 border: none;
 border-radius: 5px;
}

.NextPage{
  background: var(--background);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.OneTimeContainer{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#OneTimeText{
  display: flex;
  justify-content: left;
  color: var(--base-text-clr);
  font-size: 1.3rem;  
  margin-top: -20rem;
}

#OneTimeText2{
  margin-top:2rem ;
  font-size: 1.2rem;
  color: var(--base-text-clr);
}
.ThreeDiv{
  margin-top: 3rem;

}